$title: #464c5b;
.color_464 {
    color: #464c5b
}

.color_156 {
    color: rgb(156, 155, 155)
}

.color_d1e {
    color: #d1edfd;
}

.color_fd7 {
    color: #fd7659;
}

.color_ff4 {
    color: #ff4e00;
}