@import './atom.scss';
@import './icon.scss';
@import './index.scss';
@import './color.scss';

.t-button {
    background: white;
    padding: 16px 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 28rpx;
}

.t-button-primary {
    background: #3399FF;
    color: white;
}

.t-button-success {
    background: #00CC66;
    color: white;
}

.button-noclass {
    font-weight: bold;
    background: none;
    padding: 0;
    &::after {
        border: none;
    }
}

//tabs标签页
.tabs_wrap {
    background: white;
    border-bottom: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-around;
    .tabs {
        line-height: 80rpx;
        width: 150rpx;
        text-align: center;
    }
    .tabs_active {
      color: #3091f2;
      padding: 0rpx;
      border-bottom: 1px solid #3091f2;
    }
  }

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//red *
.red_star {
    color: red
}