//娱乐中心
.entertainment-center{
    display: block;
    background-image: url('https://static.dingdandao.com/005d64245e08e43f969a61e552af3b06');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80rpx;
    height: 80rpx;
}

//视频中心
.vedio-center{
    display: block;
    background-image: url('https://static.dingdandao.com/300b6ae11cf5057efb9c3956618281cf');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80rpx;
    height: 80rpx;
}

//商城中心
.shopping-center{
    display: block;
    background-image: url('https://static.dingdandao.com/c2a1e1e955d3edcd753c02a4f90cca92');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80rpx;
    height: 80rpx;
}

//投诉中心
.advise-center{
    display: block;
    background-image: url('https://static.dingdandao.com/30f6e50af2823ab15432ed6fd964755c');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80rpx;
    height: 80rpx;
}

//公告喇叭
.notice{
    display: block;
    background-image: url('https://static.dingdandao.com/84780c2898942297497debd273112e59');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}