//娱乐中心
.entertainment-center{
    display: block;
    background-image: url('https://static.dingdandao.com/005d64245e08e43f969a61e552af3b06');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80rpx;
    height: 80rpx;
}

//视频中心 改账单
.vedio-center{
    display: block;
    background-image: url('https://static.dingdandao.com/7e67a6fa38b280d41a8c4f842cb7f52c');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80rpx;
    height: 80rpx;
}

//商城中心
.shopping-center{
    display: block;
    background-image: url('https://static.dingdandao.com/c2a1e1e955d3edcd753c02a4f90cca92');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80rpx;
    height: 80rpx;
}

//投诉中心
.advise-center{
    display: block;
    background-image: url('https://static.dingdandao.com/30f6e50af2823ab15432ed6fd964755c');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80rpx;
    height: 80rpx;
}

//公告喇叭
.notice{
    display: block;
    background-image: url('https://static.dingdandao.com/84780c2898942297497debd273112e59');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//搜索按钮
.icon_search{
    display: block;
    background-image: url('https://static.dingdandao.com/fdf5ac075376675cf3929b96d56f110c');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//减号
.icon_jianhao{
    display: block;
    background-image: url('https://static.dingdandao.com/6fc6f75614c8700a7d7a57173ee2ed62');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50rpx;
    height: 50rpx;
}
//加号
.icon_jiahao{
    display: block;
    background-image: url('https://static.dingdandao.com/b5ac15cc078db8ad358496a668c990f8');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50rpx;
    height: 50rpx;
}

//购物车
.icon_shoppingCar {
    display: block;
    background-image: url('https://static.dingdandao.com/c140c728f8e308f2e25979bebefd2ecd');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80rpx;
    height: 80rpx;
}

//余额
.icon_money {
    display: block;
    background-image: url('https://static.dingdandao.com/3ce0a7b5d4dd3a35534b19daf9fd1099');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//账单
.icon_bill {
    display: block;
    background-image: url('https://static.dingdandao.com/05d78742f4e45d545a9c14da7758f5ba');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//充值
.icon_recharge {
    display: block;
    background-image: url('https://static.dingdandao.com/da4beb15dab1194cc20efefb6ba0d2fe');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//订单
.icon_order {
    display: block;
    background-image: url('https://static.dingdandao.com/13aaa7e7efa9e4dd857047b4c1748865');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//预约球桌
.icon_time {
    display: block;
    background-image: url('https://static.dingdandao.com/913d24b3425ea0f20f615b3cb7ecd290');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//投诉与建议
.icon_advice {
    display: block;
    background-image: url('https://static.dingdandao.com/792ceb10c94ed3b618315938b24f26fd');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//设置
.icon_setting {
    display: block;
    background-image: url('https://static.dingdandao.com/7a1021f7828bf0dbce13514f59bda314');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//报表
.icon_reports {
    display: block;
    background-image: url('https://static.dingdandao.com/dc5dc7f7aedbd8ffa6d46a8bade8046c');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}
//球桌管理
.icon_tables {
    display: block;
    background-image: url('https://static.dingdandao.com/401727589284baf967274892f22d9262');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//商品管理
.icon_goods {
    display: block;
    background-image: url('https://static.dingdandao.com/2ff0152648ffac08dab41bba692584fc');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//暂停营业
.icon_open {
    display: block;
    background-image: url('https://static.dingdandao.com/603625647de04144b8ee925eeca5263b');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//右箭头
.icon_right {
    display: block;
    background-image: url('https://static.dingdandao.com/c611bd5e0e34559e7db038297dbe81b2');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rpx;
    height: 30rpx;
}

//添加球桌的加号
.icon_add {
    display: block;
    background-image: url('https://static.dingdandao.com/dd58ca3251bb35be3156d23c70b1b319');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rpx;
    height: 30rpx;
}

//编辑
.icon_edit {
    display: block;
    background-image: url('https://static.dingdandao.com/dbfc31a407136586ebccf1b59ef76803');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rpx;
    height: 30rpx;
}

//垃圾桶
.icon_delete {
    display: block;
    background-image: url('https://static.dingdandao.com/2be94df5e236bc449403fafd01184d51');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rpx;
    height: 30rpx;
}

//钩 √
.icon_submit {
    display: block;
    background-image: url('https://static.dingdandao.com/9a74f2fa37e64678086086dcec640540');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rpx;
    height: 30rpx;
}

//取消
.icon_cancel_small {
    display: block;
    background-image: url('https://static.dingdandao.com/1fd3f801a40601e5649eba9ba7d13a11');
    background-repeat: no-repeat;
    background-size: cover;
    width: 30rpx;
    height: 30rpx;
}

//取消
.icon_cancel {
    display: block;
    background-image: url('https://static.dingdandao.com/1fd3f801a40601e5649eba9ba7d13a11');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40rpx;
    height: 40rpx;
}

//weChat Pay
.icon_wechatPay {
    display: block;
    background-image: url('https://static.dingdandao.com/89b9906eb2e3a7e1e9cdbe1e1d9b45a9');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50rpx;
    height: 50rpx;
}